*.py[cod]
env
.vscode
.env
**/node_modules
**/scss/
.editorconfig
scripts/
index.html
static/*.html
**/vendor/
**/vendor/*
staticfiles/
package-lock.json
package.json
**/js/demo/
.html
.git
geckodriver.log
PRO_UPGRADE.txt
db.sqlite3
