{% extends "pages/base.html" %}
{% load static %}
{% block title %}IDE Agenda -- Demande d'association au cabinet{% endblock title %}

{% block profile %}
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <h3>Mon compte : 
                                {% if request.user.is_authenticated %}
                                {{ user.username|capfirst }}
                                </h3>

                                {% else %}
                                <a href="{% url 'nursauth:login' %}">Login</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Le cabinet {{cabinet_name}} est déjà enregistré</h3>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}



            <p>Saisissez le nom du cabinet dans le formulaire ci-dessous pour faire la demande d'association de votre compte à son propriétaire.</p>
            <ul>
                <form method="post" class="user" action="{% url 'cabinet:askfor' %}">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <br><br><br>
                    <input type="submit" class="left btn btn-primary col-md-5 mr-2 mb-1" value="Envoyer la demande">
                    <a class="left btn btn-light" href="{% url 'nursauth:profile' %}"> Annuler </a>
                </form>    
            </ul>
            <span class="askfor">Annulez pour créer un autre cabinet. L'intitulé de ce cabinet doit être unique (ne pas être déjà enregistré).</span>
        </div>
    </div>
</div>
{% endblock %}