{% extends "registration/profile.html" %}
{% load static %}
{% block title %}IDE Agenda -- Mon compte{% endblock title %}

{% block cabinet_create %}

    <script>
        const autocomp_source = "{% url 'cabinet:autocomplete' %}";
    </script>

    <h3>Création ou affiliation à un cabinet</h3>
    <p>C'est à partir du nom de votre cabinet que vous pourrez partager vos événements commun (et utiliser l'application).<br>
    Créer des événements sans ce nom de cabinet n'est pas possible.
    <br>
    Le nom de cabinet est un simple identifiant sur le site et vous pouvez l'intituler comme vous le souhaitez tant qu'il est unique 
    (il ne doit pas exister dans la base de données).</p>
    <p>Vous pourrez savoir si l'intitulé de cabinet est disponible en utilisant le formulaire ci-dessous. Si le nom apparait et que c'est le cabinet
    que vous voulez créer, vous pouvez faire une demande d'association à son créateur qui en sera notifié. <br>Il devra alors valider la demande et 
    votre accès sera complet, vous aurez accès à la créations d'évenements dans le cadre d'un planning partagé.</p>



    <p>Saisissez le nom de votre cabinet, s'il apparait dans l'autocomplete c'est qu'il existe déjà et vous 
    devez faire une demande à son propriétaire.<br>Sinon, vous pouvez le créer.</p>

    <form method="post" action="{% url 'cabinet:create' %}">
        {% csrf_token %}
        {{ cab_form.as_ul }}<br><br><br>
        <input type="submit" value="Vérifier la disponibilité" class="btn btn-success">
    </form>

    <script src="{% static 'js/autocomplete.js' %}"></script>

{% endblock cabinet_create %}