{% extends "pages/base.html" %}
{% load static %}
{% block title %}IDE Agenda -- Mon compte{% endblock title %}

{% block profile %}

{% comment %} <script>
    const autocomp_source = "{% url 'cabinet:autocomplete' %}";
</script> {% endcomment %}
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3>Mon compte : 
                                        {% if request.user.is_authenticated %}
                                            {{ user.username|capfirst }}
                                    </h3>
                                        {% else %}
                                        <a href="{% url 'nursauth:login' %}">Login</a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not request.user.is_cabinet_owner and not user_send_request_for_association and not request.user in associates %}

                    {% block cabinet_create %}{% endblock cabinet_create %}

                {% elif not request.user.is_cabinet_owner and user_send_request_for_association %}
                    <p>La demande vient d'être envoyée, votre accès au planning sera déverrouillé quand elle sera acceptée.<br>
                    Vous avez accès à un unique cabinet.</p><br>
                    <form action="{% url 'cabinet:cancel_associate_demand' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="cancel" value="canceled">
                        <input  class="btn btn-warning" type="submit" value="Annuler">   
                    </form><br>

                {% elif request.user.is_cabinet_owner and cabinet %}
                    <h3>Votre cabinet : {{cabinet.name.capitalize}}</h3>
                    Vous seul avez la propriété de ce cabinet pour le moment.
                    Pour ajouter un associé, vous recevrez une demande de sa part dans cet espace (vous serez averti par email).
                    Après validation de la demande par vos soins, tous les associés recevront les demandes et devront valider une nouvelle association.
                    <!-- Cabinet creation confirmed -->
                    <h3>Confirmation de la création du cabinet : {{cabinet.name.capitalize}}</h3>
                    <p>Vous seul avez la propriété de ce cabinet pour le moment.</p>
                    <p>Pour ajouter un associé, vous recevrez une demande de sa part dans cet espace (vous serez averti par email).</p>
                    <p>Après validation de la demande par vos soins, vos associés recevront les demandes et devront valider une nouvelle association. 
                    <br>Vous pouvez choisir d'attribuer un statut "invité" ou "associé".</p>

                {% elif associates %}
                    {% if not request.user.is_cabinet_owner and associate_is_replacment and associates %}
                        <h3>Ce qu'un remplaçant pourrait faire</h3>
                        <p>Un formulaire de demande d'association vers au autre cabinet<br>
                        Après si un remplaçant à plusieurs cabinet, comment il passe d'un cabinet à l'autre ?</p>
                    {% endif %}

                    nombre d'accociés : {{associates|length}}
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th style="text-align:center" colspan="2">Associés du cabinet {{ cabinet_name|capfirst }}</th>
                            </tr>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <th>Email</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for associate in associates %}                       
                            <tr>
                                <td>{{associate.username}}</td><td>{{associate.email}}</td><td>{% with status=associate.is_cabinet_owner  %}{% if status == True %} associé {% else %} remplacant {% endif %} {% endwith %}</td>
                            </tr>     
                            {% endfor %}                                                   
                        </tbody>
                    </table>

                    {% if sender %}
                        {% for user in sender %}
                            <p>Vous avez une demande d'association de la part de <b>{{user.email}}</b> :<br>Que voulez-vous faire ?</p>
                            <div class="form-group mb-2">
                                <form action="{% url 'cabinet:confirm_associate' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden"
                                        name="{{ confirm_form.confirm.name }}"
                                        id="{{ confirm_form.confirm.id_for_label }}"
                                        {% if confirm_form.confirm.value is None %}value="{{ user.id }}"{% endif %}
                                        maxlength="{{ confirm_form.confirm.field.max_length }}"
                                        {% if confirm_form.confirm.field.required %}required{% endif %}>
                                        {{confirm_form.choice}}
                                    <input class="left btn btn-success" type="submit" value="Accepter la demande">
                                </form>
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <form action="{% url 'cabinet:decline_associate' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="decline" value="{{ user.id }}">
                                    <input class="btn btn-dark ml-2" type="submit" value="refuser">   
                                </form><br>
                            </div>        
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>  
{% endblock %}


