{% extends "pages/base.html" %}
{% load static %}

{% block title %} IDE Agenda -- Planning de {{current_month_name}} {% endblock title %}

  {% block main_agenda %}
  
  {% if not request.user.is_cabinet_owner and not associate_is_replacment %}
  	<p>Vous devez créer un cabinet pour pouvoir utiliser l'application.
	<br><a href=" {% url 'nursauth:profile' %} ">Rendez vous dans votre espace personnel pour créer ou vous affilier à un cabinet.</a></p>
  {% endif %}

	<div class="hat">
		<a class="left rlcal" href="{% url 'nurse:main_agenda' prev_year prev_month %}">{{prev_mnth}}</a>
		<a class="right rlcal" href="{% url 'nurse:main_agenda' next_year next_month %}">{{next_mnth}}</a>
	</div>
	<div id="incal">
		{{ html_calendar }}
	</table>
	</div>
</div>

  {% endblock %}

