<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-32x32.png' %}" /> 

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js" integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k=" crossorigin="anonymous"></script>
</head>

{% comment %} <script src="{% static 'js/autocomplete.js' %}"></script>{% endcomment %}
{% comment %} <script>const autocomp_source = "{% url 'autocomplete' %}";</script>  {% endcomment %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'nurse:index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-calendar"></i>
                </div>
                <div class="sidebar-brand-text mx-3">IDE Agenda</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            {% if not user.is_authenticated %}
                <li class="nav-item active mt-1 ml-3 mr-1"> <!--margin: 1rem 0 0 1rem;-->
                    
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Planning</span>

            </li>
            <hr class="sidebar-divider my-0">
            <li>
                <div class="form-group col">
                        <a class="btn btn-success btn-sm mt-2" href="{% url 'nursauth:login' %}">Connexion</a>
                        <a class="btn btn-dark btn-sm mt-2" href="{% url 'nursauth:inscript' %}">Inscription</a>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">   


            {% else %}
                <li class="nav-item active"> 
                    
                    <a id="planning" class="nav-link" href="{% url 'nurse:main_agenda' current_year current_month %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Planning</span>
                    </a>
                </li>  
            {% endif %}

                
            <hr class="sidebar-divider my-0">
            

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
     
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                    
                {% if user.is_authenticated %}
                    {% block topbar %}

                        <!-- Topbar -->
                            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                                    <!-- Sidebar Toggle (Topbar) -->
                                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                        <i class="fa fa-bars"></i>
                                    </button>

                                    <!-- Topbar Navbar -->
                                    <ul class="navbar-nav ml-auto">
                                        <div class="topbar-divider d-none d-sm-block"></div>

                                        <!-- Nav Item - User Information -->
                                        <li class="nav-item dropdown no-arrow" id="drop-down">
                                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.email}}</span>
                                                <img class="img-profile rounded-circle"
                                                    src="{% static 'img/undraw_profile.svg' %}">
                                            </a>
                                            <!-- Dropdown - User Information -->
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                                aria-labelledby="userDropdown">
                                                <a class="dropdown-item" href="{% url 'nursauth:profile' %}">
                                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Mon compte
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'nursauth:user_logout' %}" data-toggle="modal" data-target="#logoutModal" id="Log-out">
                                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Se déconnecter
                                                </a>
                                            </div>
                                        </li>

                                    </ul>

                            </nav>

                                <!-- Begin Page Content -->
                                <div class="container-fluid"> 

                    {% endblock topbar %}
                   
                        {% block profile %}{% endblock profile %} 
                        {% comment %} {% block original-content %}{% endblock original-content %} {% endcomment %}
                        {% block main_agenda %}{% endblock main_agenda %}
                        {% comment %} {% block cabinet_create %}{% endblock cabinet_create %} {% endcomment %}
                        {% block daily_agenda %}{% endblock daily_agenda %}
                        {% block priserdv %}{% endblock priserdv %}
                        {% block del_event %}{% endblock del_event %}
                        <!-- /.container-fluid -->
                {% else %}
                
                    {% block login %}{% endblock login %}
                    {% block register %}{% endblock register %}
                    
                {% endif %}
               
                    {% block home %}{% endblock home %}
                    {% block error400 %}{% endblock error400 %}
                    {% block error404 %}{% endblock error404 %}
                    {% block error500 %}{% endblock error500 %}
                    {% block reset %}{% endblock reset %}
                    {% block reset_done %}{% endblock reset_done %}
                    {% block reset-confirm %}{% endblock reset-confirm %}
                    {% block reset-complete %}{% endblock reset-complete %}

                </div>
            {% comment %} </div> {% endcomment %}
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IdeAgenda 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Se deconnecter ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Annulez pour continuer ou selectionnez "Se déconnecter" pour fermer votre session courante.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" id="Logout" href="{% url 'nursauth:user_logout' %}">Se déconnecter</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
</body>

</html>