{% extends "pages/base.html" %}

<h2>Menu</h2>
<ul>
  <li><a href="{% url 'nurse:index' %}">Accueil</a></li>
  <li><a href="{% url 'nurse:main_agenda' year month %}">Calendrier mensuel</a></li><br>
  <li>{{ user.username }} : <a href="{% url 'nursauth:logout' %}">Déconnexion</a></li><br>
  <li><a href="{% url 'password_change' %}">Changer de mot de passe</a></li>
  
</ul>

<div class="up">
<p><a onclick="getup()" id="top" class="hissimo">TOP</a></p>
</div>
<!-- <form  method="post" name="new_rdv" class="rdv">

<a class="sub-neo right" href="../"> Annuler </a>
<li> <button  class="btn" type="submit">Envoyer</button></li>
</form> -->


<!--     	<a class="sub-neo right" href="#"> Annuler </a>
    	<button type="submit" class="sub-neo right"> Enregistrer </button> -->
<br><br>




	</nav>

	<main>


{% block daily_agenda %}		
<h3>   {% if form and event_id %}Rendez-vous de  {{hour_rdv}} :: Édition {% elif form and not event_id %}Rendez-vous de  {{hour_rdv}} :: Enregistrer une entrée  {% endif %} </h3>

  {% block agenda %}
  {% endblock agenda %}
{% endblock daily_agenda %}







	</main>
	<aside>
	<h3>Qui est là ?</h3>
{% if request.user in request.online_now %}
    <p class="whois"> {{ request.online_now.count }} utilisateur{{ request.online_now.count|pluralize }} en ligne :</p>
{% endif %}
		
		
		
{% for user in request.online_now %}
<ul>
	<li class="whois">{{user}}</li>
</ul>
    
{% endfor %}

	</aside>


   

	<footer>
		
		
		<p>Lien</p>
		<p>copyleft</p>
		<p>Logos</p>
	</footer>
	</section>




<script>

function hpile() {
	var hunik = document.getElementById("{{hunik}}");
  hunik.scrollIntoView();
}

function getup() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera	
}

function changeClass(){
    document.getElementById("a_faire").className = "fait";
    /*document.getElementById("a_faire").classList.toggle('fait');*/
}

window.onscroll = function() {hishtop()};

function hishtop() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("top").className = "issimo";
  } else {
    document.getElementById("top").className = "hissimo";
  }
}



</script>

</body>
</html>