{% extends 'pages/base.html' %}

{% block title %} IDE Agenda -- {% if event_id %}Rendez-vous de {{hour_rdv}} :: Édition {% elif not event_id %}Disponibilité de {{hour_rdv}} :: Enregistrer un événement{% endif %} {% endblock title %}

{% block priserdv %}
<h3>{% if event_id %}Rendez-vous de {{hour_rdv}} :: Édition {% elif not event_id %}Disponibilité de {{hour_rdv}} :: Enregistrer un événement{% endif %}</h3>
	<hr class="sidebar-divider my-3">
	{# If the user tries to modify an event in the url which belongs to another user, we prevent him and invite him to go to the previous page. #}
	{% if request.user.id in associates or not event_id %}
		{% if hour_rdv in lst_hours %}
			{% if warn == True %}
				Attention, cette action ne sera pas enregistrée.
			{% endif %}
			{% if request.session.already_took and hour_rdv != booked_time %} 
				{{ booked_time }} est déjà réservé. {{ request.session.already_took }}
			{% endif %}
			<form method="post" class="formrdv">
				<fieldset style="width:50%; margin:0 auto; padding: 0 0 7em 0;">
				{% csrf_token %}
				{{ form.as_p }}
				</fieldset>	
				<div id="grp-btn">
					<div id="save">
						{% if event_id %}
							<h4>Éditer la visite N°{{ event_id }} </h4>
						{% endif %}
							<a class="right btn btn-light" href="{% url 'nurse:daily_agenda' year month day %}"> Annuler </a>
							<input type="submit" class="right btn btn-success" name="" value="Enregistrer">
					</div>
				</div>	
			</form>	
			{% if event_id %}
				<div id="delete">
					<h4>Supprimer la visite N°{{ event_id }} </h4>
						<a class="btn" href="{% url 'nurse:del_event' year month day hour_rdv event_id %}"> 
						<input type="submit" value="Supprimer" class="btn btn-warning">
						</a>
				</div>
				
			{% endif %}

		{% else %}
			<div style="color: #ff7171; font-size:1.1em; padding: 5px 5px;">
			Oups ! Vous ne pouvez pas faire ce genre de modifications.<br> 
			</div><input type=button value="Revenir sur la page précédente" onClick="javascript:history.go(-1);">
		{% endif %}

		<div class="usage">
			<h3>Usage</h3>
			<p>Après avoir saisi le nom, l'adresse puis avoir sélectionné les soins</p>
			<ul>
				<li>1. Sélectionnez le nombre de visites par jour au total</li>
				<li>2. Le délai entre chaque visite dans une journée. Toutes les 6 heures, toutes les 12 heures</li>
				<li>3. Le delai en jour entre chaque visite : <b>1</b> pour tous les jours, <b>2</b> pour 1 jour sur 2, etc..</li>
				<li>4. Sélectionnez le nombre de jours : <b>1</b> pour une seule journée, <b>2</b> pour 2 jours consécutifs, etc..</li>
			</ul>
			<p>Le principe est celui-ci :</p>

			<p>Pour enregistrer un événement 3 fois par jour (tous les 5 heures) pendant 6 jours: 08:00, 13:00 et 18:00	<br>
			Sélectionnez 3, 5, 1, 6. Il est inutile de sélectionner des jours dans ce cas.</p>

			<p>Pour enregistrer un événement 1 fois par semaine tous les mercredi à 16h15 pendant 3 semaines, il faut
				sélectionner 1 visite / jour, 0 répétition en heure, 1 répétion tous les jours. Le nombre total de jours est de 3.
				entrer 7 comme delta en jour et 3 dans le nombre de jours.
			</p>
		</div>

	{% else %} 
		Vous n'avez pas la possibilité d'éditer cette entrée. <input type=button value="Revenir sur la page précédente" onClick="javascript:history.go(-1);">   
	{% endif %}

{% endblock %}



