{% extends 'pages/base.html' %}
{% load static %}

{% block title %}IDE Agenda -- Accueil{% endblock title %}

{% block home %} 
<!-- Begin Page Content -->
    <div class="row justify-content-center bg-home-image">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5 opacity-70">
                <div class="card-body p-5">
                    <h2>Gérez et automatisez vos rendez-vous d'équipe</h2>

                    <!-- Nested Row within Card Body -->
                    <div class="row pt-5">
 
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="p-1">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Chiffre d'affaire du mois (in progress)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">10000 €</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-1">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Rendez-vous restant du jour (in progress)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="p-1">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Progression du jour (in progress)
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="pt-5">
                            <h3>Le principal objectif de cette application est de fournir un outil de gestion de RDV</h3>
                                <p>Il est prévu d'ajouter des fonctionnalités complémentaires comme le suivi du CA, le nombre de RDV
                                restant du jour et/ou la progression du jour.</p>
                        </div>
                        <div class="pt-5">    
                            <h4>Un gestionnaire de rendez-vous destiné à de relativement petites équipes</h4>
                            <ul>
                                Pour<br>
                                <li>partager un planning en commun au sein de l'équipe</li>
                                <li>créer, éditer ou annuler des événements</li>
                                <li>faciliter l'automatisation de rendez vous récurrent</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% if user.is_authenticated %}
    </div></div>
    {% else %}
</div>
    {% endif %}


{% endblock home %}

